# Play directories
lib/
logs/
tmp/

# Ignore eclipse folders and files
eclipse/
modules/
.classpath
.project
.settings

# Ignore database directory
db/

# Ignore netbeans folder
nbproject/

# Ignore test results
test-result/

server.pid
