#{extends 'main.html' /}
#{set title:'Application configuration' /}
<h5>Application ${application.pid}:</h5>
<ul>
	<li>
		#{if application.running == false}
		   	<a href="@{ApplicationController.start(application.id)}">start</a>
		#{/if}
		#{else}
			<a href="@{ApplicationController.stop(application.id)}" style="color: red">stop</a> 
		#{/else}
	</li>
	<li>
		<a href="@{ApplicationController.update(application.id)}">update</a>
	</li>
</ul>
<h5>application.conf:</h5>
#{form @ApplicationController.edit(application.id)}
<textarea name="configuration" rows="${properties.size()}" cols="100">
#{list items:properties, as:'property'}
${property.key} = ${property.value}
#{/list}
</textarea>
<br/>
<input type="submit" value="save"/>
#{/form}

<h5>Application log (You'll need to have a WebSockets enabled browser):</h5>
<div id="log" rows="50" cols="100">
</div>

<script type="text/javascript">
    // Create a socket
    var Socket = "MozWebSocket" in window ? MozWebSocket : WebSocket;
    var socket = new Socket('@@{LogController.application(application.id)}');
    
    // Message received on the socket
    socket.onmessage = function(event) {
        $('#log').append(event.data);
        $('#log').scrollTo('max', { axis:'y' } );
    }
</script>