#{extends 'main.html' /}
#{set title:'Applications' /}
<h5>All applications:</h5>
<div id="status"></div>
<br/>
<h5>Checkout application:</h5>
#{form @ApplicationController.create()}
<table>
	<thead>
		<tr>
			<th>Setting:</th>
			<th>Value:</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Application name:</td>
			<td>
				<input type="text" name="application.pid" value="${flash['application.pid']}"/>
				<span class="error">#{error 'application.pid' /}</span>
			</td>
		</tr>
		<tr>
			<td>VCS type:</td>
			<td>
				<select name="application.vcsType">
					<option ${flash['application.vcsType'] == 'GIT' ? 'selected=\"selected\"'.raw() : ''} value="GIT">GIT</option>
					<option ${flash['application.vcsType'] == 'SVN' ? 'selected=\"selected\"'.raw() : ''} value="SVN">SVN</option>
				</select>
				<span class="error">#{error 'application.vcsType' /}</span>
			</td>
		</tr>
		<tr>
			<td>VCS URL:</td>
			<td>
				<input type="text" name="application.vcsUrl" value="${flash['application.vcsUrl']}"/>
				<span class="error">#{error 'application.vcsUrl' /}</span>
			</td>
		</tr>
		<tr>
			<td>Application mode:</td>
			<td>
				<select name="application.mode">
					<option ${flash['application.mode'] == 'PROD' ? 'selected=\"selected\"'.raw() : ''} value="PROD">PROD</option>
					<option ${flash['application.mode'] == 'DEV' ? 'selected=\"selected\"'.raw() : ''}  value="DEV">DEV</option>
				</select>
				<span class="error">#{error 'application.mode' /}</span>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Checkout"/></td>
		</tr>
	</tbody>
</table>
#{/form}

<h5>Application server log (You'll need to have a WebSockets enabled browser):</h5>
<div id="log" rows="50" cols="100">
</div>

<script type="text/javascript">
    // Create a socket
    var Socket = "MozWebSocket" in window ? MozWebSocket : WebSocket;
    var socket = new Socket('@@{LogController.manager()}');
    
    // Message received on the socket
    socket.onmessage = function(event) {
        $('#log').append(event.data);
        $('#log').scrollTo('max', { axis:'y' } );
    }

    $(document).ready(function() {
		// load status div
		$('#status').load('@{ManagerController.status()}');

		// reload
      	setInterval(function() {
        	$("#status").load('@{ManagerController.status()}');
      	}, 2000);

      	// disable cache
      	$.ajaxSetup({ cache: false });
   });
    
</script>