<table>
	<thead>
		<tr>
			<th>Application</th>
			<th>Mode</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		#{list items:applications, as:'application'}
		   	<tr>
		   		<td><a href="@{ApplicationController.show(application.id)}">${application.pid}</a></td>
		   		<td>${application.mode}</td>
		   		<td>
		   			#{if application.running == true}
		   				<span style="color: green">running</span>
		   			#{/if}
		   			#{else}
		   				<span style="color: red">stopped</span> 
		   			#{/else}
		   		<td>
		   			#{if application.running == false}
		   				<a onclick="start(${application.id})">start</a>
		   			#{/if}
		   			#{else}
		   				<a onclick="stop(${application.id})" style="color: red">stop</a> 
		   			#{/else}
		   			<a onclick="update(${application.id})">update</a>
		   		</td>
		   	</tr>
		#{/list}
	</tbody>
</table>

<script type="text/javascript">

function stop(id) {
	$.get('/application/' + id + '/stop');
}

function start(id) {
    $.get('/application/' + id + '/start');
}

function update(id) {
    $.get('/application/' + id + '/update');
}
</script>