<table>
	<thead>
		<tr>
			<th>Application</th>
			<th>Mode</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		#{list items:applications, as:'application'}
		   	<tr>
		   		<td><a href="@{ApplicationController.show(application.id)}">${application.pid}</a></td>
		   		<td>${application.mode}</td>
		   		<td>
		   			#{if application.booting == true}
		   				<span class="orange">booting</span>
		   			#{/if}
		   			#{else}
		   				#{if application.running == true}
			   				<span class="green">running</span>
			   			#{/if}
			   			#{else}
			   				<span class="red">stopped</span> 
			   			#{/else}
			   		#{/else}
		   		<td>
		   			#{if application.running == false && application.booting == false}
		   				<a onclick="start(${application.id})">start</a>
		   			#{/if}
		   			#{else}
		   				<a onclick="stop(${application.id})" class="red">stop</a>
		   				<a onclick="restart(${application.id})" class="green">restart</a>  
		   			#{/else}
		   			<a onclick="update(${application.id})">update</a>
		   			<a onclick="remove(${application.id})">remove</a>
		   		</td>
		   	</tr>
		#{/list}
	</tbody>
</table>

<script type="text/javascript">

function stop(id) {
	$.get('/application/' + id + '/stop');
}

function start(id) {
    $.get('/application/' + id + '/start');
}

function update(id) {
    $.get('/application/' + id + '/update');
}

function restart(id) {
    $.get('/application/' + id + '/restart');
}

function remove(id) {
	var confirmed = confirm("Are you sure you want to do this?")
	if(confirmed) {
		$.get('/application/' + id + '/remove');
	}
}
</script>