<!DOCTYPE html>

<html>
    <head>
        <title>Play Application Server - #{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.scrollTo-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div id="header">
    		<h1 id="logo">
		    	<a href="/">
		    		<img src="@{'/public/images/logo.png'}" alt="Play! Application Server"/>
		    	</a>
	    	</h1>
    	</div>
    	<div id="page">
        	#{doLayout /}
        </div>
    </body>
</html>
